Repository kleros/linguo-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix, eslint --fix

v0.5.0
  package.json
Due: prettier --write

docs: update deployments on README
  README.md
Due: prettier --write

fix: add quotes to fix parsing error
  .env.example
Due: none

chore: add goerli network config
  hardhat.config.js
Due: eslint --fix

chore: uddate env.example
  .env.example
Due: none

chore(hardhat-config): add contract verification config
  hardhat.config.js
Due: eslint --fix

feat(deploy): update goerli network settings
  deploy/01-Linguo.js
Due: eslint --fix

chore: deploy and verify contracts on goerli network
  deployments/goerli/.chainId
  deployments/goerli/Linguo_de|en.json
  deployments/goerli/Linguo_en|es.json
  deployments/goerli/Linguo_en|fr.json
  deployments/goerli/Linguo_en|ja.json
  deployments/goerli/Linguo_en|ko.json
  deployments/goerli/Linguo_en|pt.json
  deployments/goerli/Linguo_en|ru.json
  deployments/goerli/Linguo_en|tr.json
  deployments/goerli/Linguo_en|zh.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md}
  solhint --fix: any of: *.sol
  eslint --fix: any of: *.js
